.container{
	border: 10px solid #343a40;
	margin: 10px auto;
	padding: 20px;
	border-radius: 30px;
}

#titleksm{
	margin-top: 10px;
}

.imgksm{
	border:5px solid #343a40;
	border-radius: 10px;
}

.btn-danger{
	background: #343a40;
}

.secondNavItems{
	font-weight: bold;
	margin-right: 40px; 
}

.btn-outline-success{
	margin: 0px 10px;
	color: white;
	border: 1px solid white;
}

.btn-success{
	background: #09912d;
}
